<template>
  <div class="home">
    <router-link to="/speedo">Go to speedo</router-link>
    <table v-for="(dataSet, setName) in telemetryData" :key="setName">
      <thead>
        <tr>
          <td colspan="2">{{ setName }}</td>
        </tr>
        <tr>
          <td>Sensor</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(val, sensor) in dataSet" :key="setName + sensor">
          <td>{{ sensor }}</td>
          <td>{{ val }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { F1LiveDashboardClient } from '@/f1-dashboard/client'

export default defineComponent({
  name: 'Home',
  data: () => ({
    f1: new F1LiveDashboardClient(),
    telemetryData: {
      CarSetup: {
        Ballast: 0,
        BrakeBias: 0,
        BrakePressure: 0,
        FrontAntiRollBar: 0,
        FrontCamber: 0,
        FrontLeftTyrePressure: 0,
        FrontRightTyrePressure: 0,
        FrontSuspension: 0,
        FrontSuspensionHeight: 0,
        FrontToe: 0,
        FrontWing: 0,
        FuelLoad: 0,
        OffThrottle: 0,
        OnThrottle: 0,
        RearAntiRollBar: 0,
        RearCamber: 0,
        RearLeftTyrePressure: 0,
        RearRightTyrePressure: 0,
        RearSuspension: 0,
        RearSuspensionHeight: 0,
        RearToe: 0,
        RearWing: 0
      },
      CarStatus: {
        ActualTyreCompound: 0,
        AntiLockBrakes: 0,
        DrsActivationDistance: 0,
        DrsAllowed: 0,
        DrsFault: 0,
        EngineDamage: 0,
        ErsDeployMode: 0,
        ErsDeployedThisLap: 0,
        ErsHarvestedThisLapMGUH: 0,
        ErsHarvestedThisLapMGUK: 0,
        ErsStoreEnergy: 0,
        FrontBrakeBias: 0,
        FrontLeftWingDamage: 0,
        FrontRightWingDamage: 0,
        FuelCapacity: 0,
        FuelInTank: 0,
        FuelMix: 0,
        FuelRemainingLaps: 0,
        GearBoxDamage: 0,
        IdleRPM: 0,
        MaxGears: 0,
        MaxRPM: 0,
        PitLimiterStatus: 0,
        RearWingDamage: 0,
        TractionControl: 0,
        TyreVisualCompound: 0,
        TyresAgeLaps: 0,
        TyresDamage: [0],
        TyresWear: [0],
        VehicleFiaFlags: 0
      },
      CarTelemetry: {
        ButtonStatus: 0,
        MfdPanelIndex: 0,
        SuggestedGear: 0,
        Brake: 0,
        BrakesTemperature: [0],
        Clutch: 0,
        Drs: 0,
        EngineRPM: 0,
        EngineTemperature: 0,
        Gear: 0,
        RevLightsPercent: 0,
        Speed: 0,
        Steer: 0,
        SurfaceType: [0],
        Throttle: 0,
        TyresInnerTemperature: [0],
        TyresPressure: [0],
        TyresSurfaceTemperature: [0]
      },
      LapData: {
        BestLapNum: 0,
        BestLapSector1TimeInMS: 0,
        BestLapSector2TimeInMS: 0,
        BestLapSector3TimeInMS: 0,
        BestLapTime: 0,
        BestOverallSector1LapNum: 0,
        BestOverallSector1TimeInMS: 0,
        BestOverallSector2LapNum: 0,
        BestOverallSector2TimeInMS: 0,
        BestOverallSector3LapNum: 0,
        BestOverallSector3TimeInMS: 0,
        CarPosition: 0,
        CurrentLapInvalid: 0,
        CurrentLapNum: 0,
        CurrentLapTime: 0,
        DriverStatus: 0,
        GridPosition: 0,
        LapDistance: 0,
        LastLapTime: 0,
        Penalties: 0,
        PitStatus: 0,
        ResultStatus: 0,
        SafetyCarDelta: 0,
        Sector: 0,
        Sector1TimeInMS: 0,
        Sector2TimeInMS: 0,
        TotalDistance: 0
      },
      CarMotionData: {
        AngularAccelerationX: 0,
        AngularAccelerationY: 0,
        AngularAccelerationZ: 0,
        AngularVelocityX: 0,
        AngularVelocityY: 0,
        AngularVelocityZ: 0,
        FrontWheelsAngle: 0,
        LocalVelocityX: 0,
        LocalVelocityY: 0,
        LocalVelocityZ: 0,
        SuspensionAcceleration: [0],
        SuspensionPosition: [0],
        SuspensionVelocity: [0],
        WheelSlip: [0],
        WheelSpeed: [0],
        GForceLateral: 0,
        GForceLongitudinal: 0,
        GForceVertical: 0,
        Pitch: 0,
        Roll: 0,
        WorldForwardDirX: 0,
        WorldForwardDirY: 0,
        WorldForwardDirZ: 0,
        WorldPositionX: 0,
        WorldPositionY: 0,
        WorldPositionZ: 0,
        WorldRightDirX: 0,
        WorldRightDirY: 0,
        WorldRightDirZ: 0,
        WorldVelocityX: 0,
        WorldVelocityY: 0,
        WorldVelocityZ: 0,
        Yaw: 0
      },
      LatestEvent: {
        EventStringCode: '',
        EventDetails: {}
      }
    }
  }),
  mounted() {
    /** CarSetupData */
    this.f1.CarSetup.onData(pkt => {
      const pIdx = pkt.Header.PlayerCarIndex
      this.telemetryData.CarSetup.Ballast = pkt.CarSetups[pIdx].Ballast
      this.telemetryData.CarSetup.BrakeBias = pkt.CarSetups[pIdx].BrakeBias
      this.telemetryData.CarSetup.BrakePressure = pkt.CarSetups[pIdx].BrakePressure
      this.telemetryData.CarSetup.FrontAntiRollBar = pkt.CarSetups[pIdx].FrontAntiRollBar
      this.telemetryData.CarSetup.FrontCamber = pkt.CarSetups[pIdx].FrontCamber
      this.telemetryData.CarSetup.FrontLeftTyrePressure = pkt.CarSetups[pIdx].FrontLeftTyrePressure
      this.telemetryData.CarSetup.FrontRightTyrePressure = pkt.CarSetups[pIdx].FrontRightTyrePressure
      this.telemetryData.CarSetup.FrontSuspension = pkt.CarSetups[pIdx].FrontSuspension
      this.telemetryData.CarSetup.FrontSuspensionHeight = pkt.CarSetups[pIdx].FrontSuspensionHeight
      this.telemetryData.CarSetup.FrontToe = pkt.CarSetups[pIdx].FrontToe
      this.telemetryData.CarSetup.FrontWing = pkt.CarSetups[pIdx].FrontWing
      this.telemetryData.CarSetup.FuelLoad = pkt.CarSetups[pIdx].FuelLoad
      this.telemetryData.CarSetup.OffThrottle = pkt.CarSetups[pIdx].OffThrottle
      this.telemetryData.CarSetup.OnThrottle = pkt.CarSetups[pIdx].OnThrottle
      this.telemetryData.CarSetup.RearAntiRollBar = pkt.CarSetups[pIdx].RearAntiRollBar
      this.telemetryData.CarSetup.RearCamber = pkt.CarSetups[pIdx].RearCamber
      this.telemetryData.CarSetup.RearLeftTyrePressure = pkt.CarSetups[pIdx].RearLeftTyrePressure
      this.telemetryData.CarSetup.RearRightTyrePressure = pkt.CarSetups[pIdx].RearRightTyrePressure
      this.telemetryData.CarSetup.RearSuspension = pkt.CarSetups[pIdx].RearSuspension
      this.telemetryData.CarSetup.RearSuspensionHeight = pkt.CarSetups[pIdx].RearSuspensionHeight
      this.telemetryData.CarSetup.RearToe = pkt.CarSetups[pIdx].RearToe
      this.telemetryData.CarSetup.RearWing = pkt.CarSetups[pIdx].RearWing
    })

    /** CarStatusData */
    this.f1.CarStatus.onData(pkt => {
      const pIdx = pkt.Header.PlayerCarIndex
      this.telemetryData.CarStatus.ActualTyreCompound = pkt.CarStatusData[pIdx].ActualTyreCompound
      this.telemetryData.CarStatus.AntiLockBrakes = pkt.CarStatusData[pIdx].AntiLockBrakes
      this.telemetryData.CarStatus.DrsActivationDistance = pkt.CarStatusData[pIdx].DrsActivationDistance
      this.telemetryData.CarStatus.DrsAllowed = pkt.CarStatusData[pIdx].DrsAllowed
      this.telemetryData.CarStatus.DrsFault = pkt.CarStatusData[pIdx].DrsFault
      this.telemetryData.CarStatus.EngineDamage = pkt.CarStatusData[pIdx].EngineDamage
      this.telemetryData.CarStatus.ErsDeployMode = pkt.CarStatusData[pIdx].ErsDeployMode
      this.telemetryData.CarStatus.ErsDeployedThisLap = pkt.CarStatusData[pIdx].ErsDeployedThisLap
      this.telemetryData.CarStatus.ErsHarvestedThisLapMGUH = pkt.CarStatusData[pIdx].ErsHarvestedThisLapMGUH
      this.telemetryData.CarStatus.ErsHarvestedThisLapMGUK = pkt.CarStatusData[pIdx].ErsHarvestedThisLapMGUK
      this.telemetryData.CarStatus.ErsStoreEnergy = pkt.CarStatusData[pIdx].ErsStoreEnergy
      this.telemetryData.CarStatus.FrontBrakeBias = pkt.CarStatusData[pIdx].FrontBrakeBias
      this.telemetryData.CarStatus.FrontLeftWingDamage = pkt.CarStatusData[pIdx].FrontLeftWingDamage
      this.telemetryData.CarStatus.FrontRightWingDamage = pkt.CarStatusData[pIdx].FrontRightWingDamage
      this.telemetryData.CarStatus.FuelCapacity = pkt.CarStatusData[pIdx].FuelCapacity
      this.telemetryData.CarStatus.FuelInTank = pkt.CarStatusData[pIdx].FuelInTank
      this.telemetryData.CarStatus.FuelMix = pkt.CarStatusData[pIdx].FuelMix
      this.telemetryData.CarStatus.FuelRemainingLaps = pkt.CarStatusData[pIdx].FuelRemainingLaps
      this.telemetryData.CarStatus.GearBoxDamage = pkt.CarStatusData[pIdx].GearBoxDamage
      this.telemetryData.CarStatus.IdleRPM = pkt.CarStatusData[pIdx].IdleRPM
      this.telemetryData.CarStatus.MaxGears = pkt.CarStatusData[pIdx].MaxGears
      this.telemetryData.CarStatus.MaxRPM = pkt.CarStatusData[pIdx].MaxRPM
      this.telemetryData.CarStatus.PitLimiterStatus = pkt.CarStatusData[pIdx].PitLimiterStatus
      this.telemetryData.CarStatus.RearWingDamage = pkt.CarStatusData[pIdx].RearWingDamage
      this.telemetryData.CarStatus.TractionControl = pkt.CarStatusData[pIdx].TractionControl
      this.telemetryData.CarStatus.TyreVisualCompound = pkt.CarStatusData[pIdx].TyreVisualCompound
      this.telemetryData.CarStatus.TyresAgeLaps = pkt.CarStatusData[pIdx].TyresAgeLaps
      this.telemetryData.CarStatus.TyresDamage = pkt.CarStatusData[pIdx].TyresDamage
      this.telemetryData.CarStatus.TyresWear = pkt.CarStatusData[pIdx].TyresWear
      this.telemetryData.CarStatus.VehicleFiaFlags = pkt.CarStatusData[pIdx].VehicleFiaFlags
    })

    /** CarTelemetryData */
    this.f1.CarTelemetry.onData(pkt => {
      const pIdx = pkt.Header.PlayerCarIndex
      this.telemetryData.CarTelemetry.ButtonStatus = pkt.ButtonStatus
      this.telemetryData.CarTelemetry.MfdPanelIndex = pkt.MfdPanelIndex
      this.telemetryData.CarTelemetry.SuggestedGear = pkt.SuggestedGear
      this.telemetryData.CarTelemetry.Brake = pkt.CarTelemetryData[pIdx].Brake
      this.telemetryData.CarTelemetry.BrakesTemperature = pkt.CarTelemetryData[pIdx].BrakesTemperature
      this.telemetryData.CarTelemetry.Clutch = pkt.CarTelemetryData[pIdx].Clutch
      this.telemetryData.CarTelemetry.Drs = pkt.CarTelemetryData[pIdx].Drs
      this.telemetryData.CarTelemetry.EngineRPM = pkt.CarTelemetryData[pIdx].EngineRPM
      this.telemetryData.CarTelemetry.EngineTemperature = pkt.CarTelemetryData[pIdx].EngineTemperature
      this.telemetryData.CarTelemetry.Gear = pkt.CarTelemetryData[pIdx].Gear
      this.telemetryData.CarTelemetry.RevLightsPercent = pkt.CarTelemetryData[pIdx].RevLightsPercent
      this.telemetryData.CarTelemetry.Speed = pkt.CarTelemetryData[pIdx].Speed
      this.telemetryData.CarTelemetry.Steer = pkt.CarTelemetryData[pIdx].Steer
      this.telemetryData.CarTelemetry.SurfaceType = pkt.CarTelemetryData[pIdx].SurfaceType
      this.telemetryData.CarTelemetry.Throttle = pkt.CarTelemetryData[pIdx].Throttle
      this.telemetryData.CarTelemetry.TyresInnerTemperature = pkt.CarTelemetryData[pIdx].TyresInnerTemperature
      this.telemetryData.CarTelemetry.TyresPressure = pkt.CarTelemetryData[pIdx].TyresPressure
      this.telemetryData.CarTelemetry.TyresSurfaceTemperature = pkt.CarTelemetryData[pIdx].TyresSurfaceTemperature
    })

    /** EventData */
    this.f1.Events.onData(pkt => {
      this.telemetryData.LatestEvent.EventStringCode = pkt.EventStringCode
      this.telemetryData.LatestEvent.EventDetails = pkt.EventDetails
    })

    /** FinalClassificationData */
    this.f1.FinalClassification.onData(() => {
      // TODO
    })

    /** LapData */
    this.f1.Lap.onData(pkt => {
      const pIdx = pkt.Header.PlayerCarIndex
      this.telemetryData.LapData.BestLapNum = pkt.LapData[pIdx].BestLapNum
      this.telemetryData.LapData.BestLapSector1TimeInMS = pkt.LapData[pIdx].BestLapSector1TimeInMS
      this.telemetryData.LapData.BestLapSector2TimeInMS = pkt.LapData[pIdx].BestLapSector2TimeInMS
      this.telemetryData.LapData.BestLapSector3TimeInMS = pkt.LapData[pIdx].BestLapSector3TimeInMS
      this.telemetryData.LapData.BestLapTime = pkt.LapData[pIdx].BestLapTime
      this.telemetryData.LapData.BestOverallSector1LapNum = pkt.LapData[pIdx].BestOverallSector1LapNum
      this.telemetryData.LapData.BestOverallSector1TimeInMS = pkt.LapData[pIdx].BestOverallSector1TimeInMS
      this.telemetryData.LapData.BestOverallSector2LapNum = pkt.LapData[pIdx].BestOverallSector2LapNum
      this.telemetryData.LapData.BestOverallSector2TimeInMS = pkt.LapData[pIdx].BestOverallSector2TimeInMS
      this.telemetryData.LapData.BestOverallSector3LapNum = pkt.LapData[pIdx].BestOverallSector3LapNum
      this.telemetryData.LapData.BestOverallSector3TimeInMS = pkt.LapData[pIdx].BestOverallSector3TimeInMS
      this.telemetryData.LapData.CarPosition = pkt.LapData[pIdx].CarPosition
      this.telemetryData.LapData.CurrentLapInvalid = pkt.LapData[pIdx].CurrentLapInvalid
      this.telemetryData.LapData.CurrentLapNum = pkt.LapData[pIdx].CurrentLapNum
      this.telemetryData.LapData.CurrentLapTime = pkt.LapData[pIdx].CurrentLapTime
      this.telemetryData.LapData.DriverStatus = pkt.LapData[pIdx].DriverStatus
      this.telemetryData.LapData.GridPosition = pkt.LapData[pIdx].GridPosition
      this.telemetryData.LapData.LapDistance = pkt.LapData[pIdx].LapDistance
      this.telemetryData.LapData.LastLapTime = pkt.LapData[pIdx].LastLapTime
      this.telemetryData.LapData.Penalties = pkt.LapData[pIdx].Penalties
      this.telemetryData.LapData.PitStatus = pkt.LapData[pIdx].PitStatus
      this.telemetryData.LapData.ResultStatus = pkt.LapData[pIdx].ResultStatus
      this.telemetryData.LapData.SafetyCarDelta = pkt.LapData[pIdx].SafetyCarDelta
      this.telemetryData.LapData.Sector = pkt.LapData[pIdx].Sector
      this.telemetryData.LapData.Sector1TimeInMS = pkt.LapData[pIdx].Sector1TimeInMS
      this.telemetryData.LapData.Sector2TimeInMS = pkt.LapData[pIdx].Sector2TimeInMS
      this.telemetryData.LapData.TotalDistance = pkt.LapData[pIdx].TotalDistance
    })

    /** LobbyInfoData */
    this.f1.LobbyInfo.onData(() => {
      // TODO
    })

    /** MotionData */
    this.f1.Motion.onData(pkt => {
      const pIdx = pkt.Header.PlayerCarIndex
      this.telemetryData.CarMotionData.AngularAccelerationX = pkt.AngularAccelerationX
      this.telemetryData.CarMotionData.AngularAccelerationY = pkt.AngularAccelerationY
      this.telemetryData.CarMotionData.AngularAccelerationZ = pkt.AngularAccelerationZ
      this.telemetryData.CarMotionData.AngularVelocityX = pkt.AngularVelocityX
      this.telemetryData.CarMotionData.AngularVelocityY = pkt.AngularVelocityY
      this.telemetryData.CarMotionData.AngularVelocityZ = pkt.AngularVelocityZ
      this.telemetryData.CarMotionData.FrontWheelsAngle = pkt.FrontWheelsAngle
      this.telemetryData.CarMotionData.LocalVelocityX = pkt.LocalVelocityX
      this.telemetryData.CarMotionData.LocalVelocityY = pkt.LocalVelocityY
      this.telemetryData.CarMotionData.LocalVelocityZ = pkt.LocalVelocityZ
      this.telemetryData.CarMotionData.SuspensionAcceleration = pkt.SuspensionAcceleration
      this.telemetryData.CarMotionData.SuspensionPosition = pkt.SuspensionPosition
      this.telemetryData.CarMotionData.SuspensionVelocity = pkt.SuspensionVelocity
      this.telemetryData.CarMotionData.WheelSlip = pkt.WheelSlip
      this.telemetryData.CarMotionData.WheelSpeed = pkt.WheelSpeed
      this.telemetryData.CarMotionData.GForceLateral = pkt.CarMotionData[pIdx].GForceLateral
      this.telemetryData.CarMotionData.GForceLongitudinal = pkt.CarMotionData[pIdx].GForceLongitudinal
      this.telemetryData.CarMotionData.GForceVertical = pkt.CarMotionData[pIdx].GForceVertical
      this.telemetryData.CarMotionData.Pitch = pkt.CarMotionData[pIdx].Pitch
      this.telemetryData.CarMotionData.Roll = pkt.CarMotionData[pIdx].Roll
      this.telemetryData.CarMotionData.WorldForwardDirX = pkt.CarMotionData[pIdx].WorldForwardDirX
      this.telemetryData.CarMotionData.WorldForwardDirY = pkt.CarMotionData[pIdx].WorldForwardDirY
      this.telemetryData.CarMotionData.WorldForwardDirZ = pkt.CarMotionData[pIdx].WorldForwardDirZ
      this.telemetryData.CarMotionData.WorldPositionX = pkt.CarMotionData[pIdx].WorldPositionX
      this.telemetryData.CarMotionData.WorldPositionY = pkt.CarMotionData[pIdx].WorldPositionY
      this.telemetryData.CarMotionData.WorldPositionZ = pkt.CarMotionData[pIdx].WorldPositionZ
      this.telemetryData.CarMotionData.WorldRightDirX = pkt.CarMotionData[pIdx].WorldRightDirX
      this.telemetryData.CarMotionData.WorldRightDirY = pkt.CarMotionData[pIdx].WorldRightDirY
      this.telemetryData.CarMotionData.WorldRightDirZ = pkt.CarMotionData[pIdx].WorldRightDirZ
      this.telemetryData.CarMotionData.WorldVelocityX = pkt.CarMotionData[pIdx].WorldVelocityX
      this.telemetryData.CarMotionData.WorldVelocityY = pkt.CarMotionData[pIdx].WorldVelocityY
      this.telemetryData.CarMotionData.WorldVelocityZ = pkt.CarMotionData[pIdx].WorldVelocityZ
      this.telemetryData.CarMotionData.Yaw = pkt.CarMotionData[pIdx].Yaw
    })

    /** ParticipantsData */
    this.f1.Participants.onData(() => {
      // TODO
    })

    /** SessionData */
    this.f1.Session.onData(() => {
      // TODO
    })
  }
})
</script>
