<template>
  <div>
    <div class="percentage">
      <div class="p-background"></div>
      <div class="p-indicator" :style="throttlePos"></div>
    </div>
    <br />
    <div class="percentage">
      <div class="p-background"></div>
      <div class="p-indicator" :style="brakePos"></div>
    </div>
    <div class="percentage">
      <div class="p-background"></div>
      <div class="p-indicator" :style="rpms"></div>
    </div>
    <h1>Speed: {{ speed }} KPH</h1>
    <h1>Throttle: {{ Math.round(throttle * 100) }} %</h1>
    <h1>Brake: {{ Math.round(brake * 100) }} %</h1>
    <h1>RPM: {{ rpm }} / {{ maxRpm }}</h1>
  </div>
</template>

<script>
import { F1LiveDashboardClient } from '@/f1-dashboard/client'

export default {
  name: 'speedometer',
  data: () => ({
    f1: new F1LiveDashboardClient(),
    speed: 0,
    throttle: 0,
    brake: 0,
    rpm: 0,
    maxRpm: 0
  }),
  computed: {
    throttlePos() {
      return {
        left: Math.round(this.throttle * 360 + 10).toString() + 'px'
      }
    },
    brakePos() {
      return {
        left: Math.round(this.brake * 360 + 10).toString() + 'px'
      }
    },
    rpms() {
      const rpmPercent = this.rpm / this.maxRpm
      const redPercent = rpmPercent > 0.25 ? (rpmPercent - 0.25) / 0.5 : 0
      const red = Math.round(redPercent * 255)
      const greenPercent = rpmPercent > 0.75 ? (rpmPercent - 0.75) / 0.25 : 0
      const green = 255 - Math.round(greenPercent * 255)
      return {
        left: Math.round(rpmPercent * 360 + 10).toString() + 'px',
        background: `rgb(${red}, ${green}, 0)`
      }
    }
  },
  mounted() {
    this.f1.CarTelemetry.onData(pkt => {
      const idx = pkt.Header.PlayerCarIndex
      this.speed = pkt.CarTelemetryData[idx].Speed
      this.throttle = pkt.CarTelemetryData[idx].Throttle
      this.brake = pkt.CarTelemetryData[idx].Brake
      this.rpm = pkt.CarTelemetryData[idx].EngineRPM
    })

    this.f1.CarStatus.onData(pkt => {
      const idx = pkt.Header.PlayerCarIndex
      this.maxRpm = pkt.CarStatusData[idx].MaxRPM
    })
  }
}
</script>

<style lang="scss" scoped>
.percentage {
  width: 400px;
  height: 100px;
  position: relative;
  border-radius: 20px;
  border: 2px solid darkgreen;

  .p-background {
    position: absolute;
    width: 360px;
    height: 10px;
    left: 20px;
    top: calc(50% - 5px);
    background: green;
  }

  .p-indicator {
    position: absolute;
    width: 20px;
    height: 50px;
    top: calc(50% - 25px);
    background: green;
    opacity: 0.5;
  }
}

.rpm {
  width: 400px;
  height: 100px;
  position: relative;
  border-radius: 20px;
  border: 2px solid black;
}
</style>
